main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

main div {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main div:hover {
    background-color: beige;
    opacity: 0.5;
}

img {
    width: 100px;
    height: auto;
}

p {
    font-size: 120%;
}